@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Caveat');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: .5%;
  margin-left: auto;
  margin-bottom: 1%;
  height: 80vh;
  width: 50%;
  background-color: rgb(36, 35, 35);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: .8%;
  border: #000000;
  border-radius: 10px;
}

.text-container {
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 49%;

}

.text-container h2 {
  font-weight: 700;
  text-align: center;
}

.text-container p {
  font-family: 'Caveat';
  width: 37vw;
  text-align: center;
  font-size: 190%;
  font-weight: 500;
}

.text-container a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.text-container a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.text-container a:link {
  color: black;
  text-decoration: underline;
}

.line__1,
.line__2,
.line__3,
.line__4,
.line__5,
.line__6,
.line__7 {
  white-space: nowrap;
  /* keep text in one line */
  overflow: hidden;
  /* hide text behind the cursor */
  margin: 0.5rem auto;
  font-family: "Caveat";
  font-size: 2rem;
  font-weight: bold;
}

.line__1 {

  /* define animation types for text + cursor */
  animation: animated-text__1 4s steps(30, end) 1s 1 normal both,
    animated-cursor__1 900ms steps(30, end);
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

.line__2 {

  /* define animation types for text + cursor */
  animation: animated-text__2 4s steps(30, end) 1s 1 normal both,
    animated-cursor__2 900ms steps(30, end) 8;
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.line__3 {

  /* define animation types for text + cursor */
  animation: animated-text__3 4s steps(30, end) 1s 1 normal both,
    animated-cursor__3 900ms steps(30, end);
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

.line__4 {

  /* define animation types for text + cursor */
  animation: animated-text__4 4s steps(30, end) 1s 1 normal both,
    animated-cursor__4 900ms steps(30, end);
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

.line__5 {

  /* define animation types for text + cursor */
  animation: animated-text__5 4s steps(30, end) 1s 1 normal both,
    animated-cursor__5 900ms steps(30, end) 8;
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

.line__6 {

  /* define animation types for text + cursor */
  animation: animated-text__6 4s steps(30, end) 1s 1 normal both,
    animated-cursor__6 900ms steps(30, end) 8;
  -webkit-animation-delay: 28s;
  animation-delay: 28s;
}

.line__7 {
  text-align: right;
  /* define animation types for text + cursor */
  animation: animated-text__6 4s steps(30, end) 1s 1 normal both,
    animated-cursor__6 900ms steps(30, end) 8;
  -webkit-animation-delay: 32s;
  animation-delay: 32s;
}

@keyframes animated-cursor__1 {
  from {
    border-right-color: #000000;
  }

  to {
    border-right-color: #BA8C63;
  }
}

@keyframes animated-cursor__2 {
  from {
    border-right-color: #BA8C63;
  }

  to {
    border-right-color: #BA8C63;
  }
}

@keyframes animated-cursor__3 {
  from {
    border-right-color: #BA8C63;
  }

  to {
    border-right-color: #BA8C63;
  }
}

@keyframes animated-cursor__4 {
  from {
    border-right-color: #BA8C63;
  }

  to {
    border-right-color: #BA8C63;
  }
}

@keyframes animated-cursor__5 {
  from {
    border-right-color: #BA8C63;
  }

  to {
    border-right-color: #BA8C63;
  }
}

@keyframes animated-cursor__6 {
  from {
    border-right-color: #BA8C63;
  }

  to {
    border-right-color: #BA8C63;
  }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }

  to {
    width: 38rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }

  to {
    width: 36rem;
  }
}

@keyframes animated-text__3 {
  from {
    width: 0;
  }

  to {
    width: 38rem;
  }
}

@keyframes animated-text__4 {
  from {
    width: 0;
  }

  to {
    width: 38rem;
  }
}

@keyframes animated-text__5 {
  from {
    width: 0;
  }

  to {
    width: 40rem;
  }
}

@keyframes animated-text__6 {
  from {
    width: 0;
  }

  to {
    width: 38rem;
  }
}

.spotifyPhotos {
  width: 60%;
  margin-left: 5vw;
  margin-right: auto;
}

.spotifyLink {
  text-align: center;
  display: block;
  font-size: 100%;
}


.wrapper {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}


.flex-item {
  width: 9vw;
  height: 20vh;
  background-color: #ddd;
  margin: 0% 1% 0 1%;
}

.flex-1 {
  background-image: url(./assets/country2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #81403f;
  opacity: 80%;
  border-radius: 10px;
}

.flex-1:hover {
  opacity: 100%;
}

.flex-2 {
  background-image: url(./assets/jazz2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #735982;
  opacity: 80%;
  border-radius: 10px;
}

.flex-2:hover {
  opacity: 100%;
}

.flex-3 {
  background-image: url(./assets/electronic2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #aa6b38;
  opacity: 80%;
  border-radius: 10px;
}

.flex-3:hover {
  opacity: 100%;
}

.flex-4 {
  background-image: url(./assets/r&b2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #93aa5c;
  opacity: 80%;
  border-radius: 10px;
}

.flex-4:hover {
  opacity: 100%;
}

.flex-5 {
  background-image: url(./assets/rap2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #5e6a80;
  opacity: 80%;
  border-radius: 10px;
}

.flex-5:hover {
  opacity: 100%;
}

.flex-6 {
  background-image: url(./assets/pop2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #adad36;
  opacity: 80%;
  border-radius: 10px;
}

.flex-6:hover {
  opacity: 100%;
}

.flex-7 {
  background-image: url(./assets/90s2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #9b647e;
  opacity: 80%;
  border-radius: 10px;
}

.flex-7:hover {
  opacity: 100%;
}

.flex-8 {
  background-image: url(./assets/rock2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #3fa276;
  opacity: 80%;
  border-radius: 10px;
}

.flex-8:hover {
  opacity: 100%;
}

.flex-9 {
  background-image: url(./assets/metal2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #725682;
  opacity: 80%;
  border-radius: 10px;
}

.flex-9:hover {
  opacity: 100%;
}

.flex-10 {
  background-image: url(./assets/latin2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #6e716a;
  opacity: 80%;
  border-radius: 10px;
}

.flex-10:hover {
  opacity: 100%;
}

.flex-11 {
  background-image: url(./assets/reggae2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #ac8839;
  opacity: 80%;
  border-radius: 10px;
}

.flex-11:hover {
  opacity: 100%;
}

.flex-12 {
  background-image: url(./assets/oldies2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #538fa2;
  opacity: 80%;
  border-radius: 10px;
}

.flex-12:hover {
  opacity: 100%;
}


.fixed {
  width: 20vh;
  position: fixed;
  left: 90%;
  top: 86%;
}

.nav-hide {
  transform: translateY(-881px);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#thehero {
  width: 99.1vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/EmptyStudio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.the-inner {
  background-color: #BA8C63;
  width: 90vw;
  padding: 1rem;
}

.the-inner h1 {
  color: #000000;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
  font-size: 2.1rem;
}

.the-inner p {
  color: #000000;
  text-align: left;
  font-size: 1.1rem;
}

.the-inner a {
  color: #000000;
}

.the-inner .points p:before {
  content: url(https://chrislanejones.com/wp-content/uploads/2018/10/littlesquarebullet.png);
  padding: 0 0 0 0;
}

.backgroundColor {
  background-color: #BA8C63;
}

.four-container {
  width: 80%;
  margin: 10% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.friendrequest {
  width: 80%;
  height: 70%;
}

.binoculars {
  width: 80%;
  height: 70%;
}

.moneyhand {
  width: 80%;
  height: 70%;
}

.file {
  width: 80%;
  height: 70%;
}

.four-icon {
  width: 20%;
  display: inline-block;
  text-align: center;
}

.accordion-header {
  border-radius: 2px;
  border-color: black;
}

.accordion-button p {
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}

.accordion-button:active {
  background-color: #282424;
}


.accordion-header button {
  background-color: #282424;
}

.accordion-button:not(.collapsed) {
  background-color: #282424 !important;
}

.sharePosts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.right{
clear:right;
}

.post h1{
  font-size:2rem
}


.homeFeed h1{
  text-align: center;
}

img {
  height: auto;
  width: 150px;
  padding: 5px
}

.signupIMG {
  background-Image: url(https://images.pexels.com/photos/1337753/pexels-photo-1337753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
}

/* special thanks to https://codetheweb.blog/demo/full-image-hero/ */

@media (max-width: 1310px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: auto;
    margin-right: 1%;
    height: 80vh;
    width: 100%;
    background-color: rgb(36, 35, 35);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: .8%;
  }

  .text-container {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-bottom: .8%;
  }

  .flex-item {
    width: 25%;
    height: 16%;
    margin: .6% 2%;
  }

  .text-container h2 {
    font-weight: 700;
    text-align: center;
  }

  .text-container p {
    width: 80vw;
    text-align: center;
    font-size: larger;
  }
}

@media (max-width: 600px) {
  .flex-item {
    width: 25%;
    height: 16%;
    margin: 0% 1% 0% 1%;
  }
}

@media screen and (max-width: 450px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: auto;
    margin-right: 1%;
    height: 60vh;
    width: 100%;
    background-color: rgb(36, 35, 35);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: .8%;
  }

  .flex-item {
    width: 25%;
    height: 16%;
    margin: 0% 1% 0% 1%;
  }

  .four-icon {
    width: 40%;
  }

  .four-container {
    flex-direction: row;
    align-items: center;
  }

  .four-container:nth-child(odd) {
    margin-right: 20%;
  }




}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}