@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  width: 100%;
  background-color: rgb(36, 35, 35);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: .8%;
  padding-bottom: .8%;
}


.flex-item {
  width: 18vw;
  height: 20vh;
  background-color: #ddd;
  margin: .1% 3% 0 0;
}

.flex-1 {
  background-image: url(./assets/country2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #81403f;
  opacity: 80%;
  border-radius: 10px;
}

.flex-1:hover {
  opacity: 100%;
}

.flex-2 {
  background-image: url(./assets/jazz2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #735982;
  opacity: 80%;
  border-radius: 10px;
}

.flex-2:hover {
  opacity: 100%;
}

.flex-3 {
  background-image: url(./assets/electronic2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #aa6b38;
  opacity: 80%;
  border-radius: 10px;
}

.flex-3:hover {
  opacity: 100%;
}

.flex-4 {
  background-image: url(./assets/r&b2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #93aa5c;
  opacity: 80%;
  border-radius: 10px;
}

.flex-4:hover {
  opacity: 100%;
}

.flex-5 {
  background-image: url(./assets/rap2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #5e6a80;
  opacity: 80%;
  border-radius: 10px;
}

.flex-5:hover {
  opacity: 100%;
}

.flex-6 {
  background-image: url(./assets/pop2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #adad36;
  opacity: 80%;
  border-radius: 10px;
}

.flex-6:hover {
  opacity: 100%;
}

.flex-7 {
  background-image: url(./assets/90s2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #9b647e;
  opacity: 80%;
  border-radius: 10px;
}

.flex-7:hover {
  opacity: 100%;
}

.flex-8 {
  background-image: url(./assets/rock2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #3fa276;
  opacity: 80%;
  border-radius: 10px;
}

.flex-8:hover {
  opacity: 100%;
}

.flex-9 {
  background-image: url(./assets/metal2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #725682;
  opacity: 80%;
  border-radius: 10px;
}

.flex-9:hover {
  opacity: 100%;
}

.flex-10 {
  background-image: url(./assets/latin2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #6e716a;
  opacity: 80%;
  border-radius: 10px;
}

.flex-10:hover {
  opacity: 100%;
}

.flex-11 {
  background-image: url(./assets/reggae2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #ac8839;
  opacity: 80%;
  border-radius: 10px;
}

.flex-11:hover {
  opacity: 100%;
}

.flex-12 {
  background-image: url(./assets/oldies2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #538fa2;
  opacity: 80%;
  border-radius: 10px;
}

.flex-12:hover {
  opacity: 100%;
}


.microphone {
  position: fixed;
  top: 3;
  right: 3.5%;
  width: 10vh;
}

.hand {
  width: 20vh;
  position: relative;
  left: 90%;
  top: 86%;
}

.fixed {
  width: 20vh;
  position: fixed;
  left: 90%;
  top: 86%;
}

.nav-hide {
  transform: translateY(-881px);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homeBody {
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  border-top: none;
  border-bottom: none;
  border-right: solid grey 1px;
  border-left: solid grey 1px;
  width: 650px;
  margin: auto;
  /* position: absolute; */
}

.linksContainer {
  display: flex;
  flex-direction: column;
  width: 150px;
  /* margin-right: auto; */
  
}

.links {
  margin-bottom: 25px;
  margin-left: 100px;
}

#thehero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/EmptyStudio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.the-inner {
  background-color: rgba(256, 256, 256, 0.8);
  width: 90vw;
  padding: 1rem;
}

.the-inner h1 {
  color: #000000;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
  font-size: 2.1rem;

}

.the-inner p {
  color: #606061;
  text-align: left;
  font-size: 1.1rem;
}

.the-inner a {
  color: #000000;
}

.the-inner .points p:before {
  content: url(https://chrislanejones.com/wp-content/uploads/2018/10/littlesquarebullet.png);
  padding: 0 0 0 0;
}

/* special thanks to https://codetheweb.blog/demo/full-image-hero/ */


@media (max-width: 600px) {
  .flex-item {
    width: 25%;
    height: 25%;
    margin: 1% 2%;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}