.profile {
  display: flex;
}

.profContent {
  flex: 9
}

.sharePosts {
  display: flex
}

.proCover {
  height: 320px;
  position: relative;
}

.cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileP {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username {
  font-size: 24px;
padding: 1% 0;
}

.bio {
  font-weight: 300;
}

.share{
  margin-bottom: 3%;
}

.profilePosts{
  width:50%;
}

.inline{
  display: inline-flex;
}