/* .friends {
  margin-bottom: 20px;
}

.rightbarFriendList {
padding: 0;
margin: 0;
list-style: none;
}

.title{
font-size: 18px;
font-weight: 500;
margin-bottom: 10px;
}

.info{
margin-bottom: 30px;
}

.infoContent {
margin-bottom: 10px;
}

.info1{
font-weight: 500;
margin-right: 15px;
color: #555;
}

.info2{
font-weight: 300;
}

.friendList{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.friend{
display: flex;
flex-direction: column;
margin-bottom: 20px;
cursor: pointer;
}

.friendImg{
width: 100px;
height: 100px;
object-fit: cover;
border-radius: 5px;
}

.sidebar {
  flex: 3.5;
}

.sideContainer {
  padding: 20px 20px 0 0;
} */


.playlist {
  width: 20%;
  max-width: 20%;
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;
}

.playlist button {
  margin-left: 14%;
}

.playlist h4{
  text-align: center;
}

.profileItem{
  width:30%
}

.profileItem h4{
  text-align: center;
}

.friends{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.friend {
  display: flex;
  flex-direction: column;
  width:20%;
  margin-bottom: 20px;
  cursor: pointer;
  align-items: center;
}

.friend img {
  cursor: pointer;
  width:60%;
  height: auto;
}